slave_machine_flows/flows
[{"id":"2ef7ab0.58be156","type":"tab","label":"Bluetooth Simulator"},{"id":"ae356560.b926b8","type":"tab","label":"Distance Sensor Flow"},{"id":"c8896958.58aa88","type":"tab","label":"Temperature Flow"},{"id":"4ce74740.6fc268","type":"mqtt-broker","z":"2ef7ab0.58be156","broker":"176.9.41.239","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"18be5308.33dd4d","type":"mqtt-broker","z":"","broker":"176.9.41.239","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d5081dd9.c8e7a","type":"mqtt-broker","z":"","broker":"176.9.41.239","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f79a0031.ad35f","type":"mqtt in","z":"2ef7ab0.58be156","name":"listen_master","topic":"slave_sale","qos":"0","broker":"4ce74740.6fc268","x":130,"y":145,"wires":[["2553cda6.f203b2","52c82971.5642b8"]]},{"id":"2553cda6.f203b2","type":"debug","z":"2ef7ab0.58be156","name":"","active":true,"console":"false","complete":"false","x":437,"y":135,"wires":[]},{"id":"52c82971.5642b8","type":"trigger","z":"2ef7ab0.58be156","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"","x":304,"y":296,"wires":[["d0d28291.d700d"]]},{"id":"222da345.5a749c","type":"rpi-gpio in","z":"2ef7ab0.58be156","name":"item3","pin":"31","intype":"down","debounce":"50","read":false,"x":70,"y":444,"wires":[["31326558.eb927a"]]},{"id":"31326558.eb927a","type":"trigger","z":"2ef7ab0.58be156","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"button trg","x":601,"y":447,"wires":[["fdcb2f64.c4965","8195eb7e.a73588","259a4a6e.b322a6"]]},{"id":"fdcb2f64.c4965","type":"debug","z":"2ef7ab0.58be156","name":"","active":true,"console":"false","complete":"payload","x":906,"y":291,"wires":[]},{"id":"550006f3.c69ed8","type":"rpi-gpio in","z":"2ef7ab0.58be156","name":"item4","pin":"29","intype":"down","debounce":"50","read":false,"x":70,"y":669,"wires":[["3d747231.667d1e"]]},{"id":"3d747231.667d1e","type":"trigger","z":"2ef7ab0.58be156","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"button trg","x":597,"y":671,"wires":[["fdcb2f64.c4965","1fd07819.ba29e8","259a4a6e.b322a6"]]},{"id":"b1bd8d75.6a872","type":"mqtt out","z":"2ef7ab0.58be156","name":"sale1","topic":"sale","qos":"0","retain":"","broker":"18be5308.33dd4d","x":1108,"y":447,"wires":[]},{"id":"da8028a5.9a1d58","type":"mqtt out","z":"2ef7ab0.58be156","name":"sale2","topic":"sale","qos":"0","retain":"","broker":"18be5308.33dd4d","x":1109,"y":671,"wires":[]},{"id":"1fd07819.ba29e8","type":"function","z":"2ef7ab0.58be156","name":"add id","func":"if (msg.payload == 1){\n    msg.payload = 4\n    return msg;\n}\nelse\n    return null","outputs":1,"noerr":0,"x":881,"y":671,"wires":[["da8028a5.9a1d58"]]},{"id":"8195eb7e.a73588","type":"function","z":"2ef7ab0.58be156","name":"add id","func":"if (msg.payload == 1){\n    msg.payload = 3\n    return msg;\n}\nelse\n    return null","outputs":1,"noerr":0,"x":884,"y":447,"wires":[["b1bd8d75.6a872"]]},{"id":"d0d28291.d700d","type":"rpi-gpio out","z":"2ef7ab0.58be156","name":"product_led","pin":"13","set":true,"level":"0","out":"out","x":556,"y":271,"wires":[]},{"id":"e37db7c3.5ed6c8","type":"rpi-srf","z":"ae356560.b926b8","name":"Distance Sensor","pins":"11,12","x":213.51483154296875,"y":137,"wires":[["14839e7a.441652","c741bc7c.ad607"]]},{"id":"ef5eae74.0dfd6","type":"rpi-gpio out","z":"ae356560.b926b8","name":"Led","pin":"35","set":true,"level":"0","out":"out","x":835.0148315429688,"y":245,"wires":[]},{"id":"c741bc7c.ad607","type":"debug","z":"ae356560.b926b8","name":"","active":true,"console":"false","complete":"payload","x":669.0148315429688,"y":159.00006103515625,"wires":[]},{"id":"14839e7a.441652","type":"switch","z":"ae356560.b926b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"}],"checkall":"true","outputs":1,"x":391.51483154296875,"y":177,"wires":[["c741bc7c.ad607","96b57f4d.56a05"]]},{"id":"96b57f4d.56a05","type":"trigger","z":"ae356560.b926b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":true,"units":"s","reset":"","name":"","x":637.5148315429688,"y":249,"wires":[["ef5eae74.0dfd6"]]},{"id":"17013dce.3baaf2","type":"rpi-gpio out","z":"c8896958.58aa88","name":"Led","pin":"40","set":true,"level":"0","out":"out","x":880.5148315429688,"y":196.99993896484375,"wires":[]},{"id":"8cbdad54.d0fed","type":"debug","z":"c8896958.58aa88","name":"","active":true,"console":"false","complete":"payload","x":683.5148315429688,"y":68,"wires":[]},{"id":"667485f4.cb13ac","type":"ds18b20","z":"c8896958.58aa88","name":"temperature","sensorid":"28-01161e27e0ee","timer":"0.05","x":165.21484375,"y":150.199951171875,"wires":[["1fdefd81.f0d502"]]},{"id":"1fdefd81.f0d502","type":"switch","z":"c8896958.58aa88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"23.5","vt":"num"},{"t":"lt","v":"23.5","vt":"num"}],"checkall":"true","outputs":2,"x":411.01483154296875,"y":150.99993896484375,"wires":[["8cbdad54.d0fed","cc20bbde.8e8228","4532df57.e5984"],["8cbdad54.d0fed"]]},{"id":"cc20bbde.8e8228","type":"trigger","z":"c8896958.58aa88","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":true,"units":"s","reset":"","name":"","x":675.0148315429688,"y":196.99993896484375,"wires":[["17013dce.3baaf2"]]},{"id":"65da7180.54da3","type":"mqtt out","z":"c8896958.58aa88","name":"temperature_alert","topic":"temp","qos":"","retain":"","broker":"d5081dd9.c8e7a","x":934.21484375,"y":336,"wires":[]},{"id":"4532df57.e5984","type":"function","z":"c8896958.58aa88","name":"add_machine_id","func":"msg.payload = {\n    \"machine_id\":2, \n    \"payload\":msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":691.21484375,"y":336,"wires":[["65da7180.54da3"]]},{"id":"259a4a6e.b322a6","type":"rpi-gpio out","z":"2ef7ab0.58be156","name":"Product led","pin":"13","set":true,"level":"0","out":"out","x":1047.0000610351562,"y":834,"wires":[]}]