master_machine_flows/all_flows
[{"id":"e0dbf9ed.167788","type":"tab","label":"Flow 2"},{"id":"420d1115.72825","type":"tab","label":"Flow 1"},{"id":"a4a6fbdc.cedb38","type":"tab","label":"Flow 3"},{"id":"bba44ee5.5aa2f","type":"tab","label":"Flow 5"},{"id":"96eb94d7.3cfb18","type":"tab","label":"Flow 6"},{"id":"4d4c00c8.d1ecd","type":"twitter-credentials","z":"","screen_name":"@IOT_nea"},{"id":"acafb683.9a0cf8","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"271cdd16.932ad2","type":"mqtt-broker","z":"","broker":"176.9.41.239","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"728707fa.809f08","type":"rpi-gpio out","z":"e0dbf9ed.167788","name":"Led","pin":"40","set":true,"level":"0","out":"out","x":790.2999877929688,"y":196.99993896484375,"wires":[]},{"id":"f9fa0b49.90b228","type":"debug","z":"e0dbf9ed.167788","name":"","active":true,"console":"false","complete":"payload","x":593.2999877929688,"y":68,"wires":[]},{"id":"9c1d2fcb.c7687","type":"ds18b20","z":"e0dbf9ed.167788","name":"temperature","sensorid":"28-02161ad8faee","timer":"0.05","x":75,"y":150.199951171875,"wires":[["fc3810c1.ae441"]]},{"id":"fc3810c1.ae441","type":"switch","z":"e0dbf9ed.167788","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"23.5","vt":"num"},{"t":"lt","v":"23.5","vt":"num"}],"checkall":"true","outputs":2,"x":320.79998779296875,"y":150.99993896484375,"wires":[["f9fa0b49.90b228","4855f435.fbd8cc","658f4d68.0ed934"],["f9fa0b49.90b228"]]},{"id":"4855f435.fbd8cc","type":"trigger","z":"e0dbf9ed.167788","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":true,"units":"s","reset":"","name":"","x":584.7999877929688,"y":196.99993896484375,"wires":[["728707fa.809f08"]]},{"id":"dd1bd3cd.f9f3e","type":"rpi-srf","z":"420d1115.72825","name":"Distance Sensor","pins":"11,12","x":110,"y":66,"wires":[["98d3ac56.9f29b","36753bc7.4044e4"]]},{"id":"512d15b.69e15ec","type":"rpi-gpio out","z":"420d1115.72825","name":"Led","pin":"35","set":true,"level":"0","out":"out","x":731.5,"y":174,"wires":[]},{"id":"36753bc7.4044e4","type":"debug","z":"420d1115.72825","name":"","active":true,"console":"false","complete":"payload","x":565.5,"y":88.00006103515625,"wires":[]},{"id":"98d3ac56.9f29b","type":"switch","z":"420d1115.72825","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"}],"checkall":"true","outputs":1,"x":288,"y":106,"wires":[["36753bc7.4044e4","6999b00b.7510f"]]},{"id":"6999b00b.7510f","type":"trigger","z":"420d1115.72825","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":true,"units":"s","reset":"","name":"","x":534,"y":178,"wires":[["512d15b.69e15ec"]]},{"id":"603d4a2a.4debc4","type":"rpi-gpio in","z":"a4a6fbdc.cedb38","name":"button1","pin":"31","intype":"down","debounce":"50","read":false,"x":111,"y":218,"wires":[["a578c1ac.cab7b"]]},{"id":"a578c1ac.cab7b","type":"trigger","z":"a4a6fbdc.cedb38","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"button trg","x":632,"y":221,"wires":[["11242ad2.246e45","75250e4e.d19d3","1438be88.607511"]]},{"id":"11242ad2.246e45","type":"debug","z":"a4a6fbdc.cedb38","name":"","active":true,"console":"false","complete":"payload","x":937,"y":65,"wires":[]},{"id":"4141a6a9.a054e8","type":"rpi-gpio in","z":"a4a6fbdc.cedb38","name":"button2","pin":"29","intype":"down","debounce":"50","read":false,"x":111,"y":443,"wires":[["f4c78224.40059"]]},{"id":"f4c78224.40059","type":"trigger","z":"a4a6fbdc.cedb38","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"button trg","x":628,"y":445,"wires":[["11242ad2.246e45","75250e4e.d19d3","a6b71391.06e0a"]]},{"id":"75250e4e.d19d3","type":"rpi-gpio out","z":"a4a6fbdc.cedb38","name":"Product led","pin":"13","set":"","level":"0","out":"out","x":918,"y":611,"wires":[]},{"id":"1c2aec90.773243","type":"http request","z":"bba44ee5.5aa2f","name":"Get All Products","method":"GET","ret":"txt","url":"http://192.168.0.17:8080/SpringRestCrud/product/list","tls":"","x":402.5,"y":112,"wires":[["88e53e15.d93e1"]]},{"id":"88e53e15.d93e1","type":"debug","z":"bba44ee5.5aa2f","name":"","active":true,"console":"false","complete":"false","x":559.5,"y":219,"wires":[]},{"id":"9108bdc6.aa3bd","type":"inject","z":"bba44ee5.5aa2f","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.5,"y":49,"wires":[["1c2aec90.773243"]]},{"id":"bb7370e1.b4dab","type":"inject","z":"bba44ee5.5aa2f","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":114.5,"y":491,"wires":[["d1610751.449d78"]]},{"id":"d1610751.449d78","type":"http request","z":"bba44ee5.5aa2f","name":"consume 1 product with id = 2","method":"GET","ret":"txt","url":"http://192.168.0.17:8080/SpringRestCrud/product/update/2/-1","tls":"","x":606.5,"y":507,"wires":[[]]},{"id":"a321bcee.492af","type":"http request","z":"bba44ee5.5aa2f","name":"Get All Products","method":"GET","ret":"txt","url":"http://192.168.0.17:8080/SpringRestfulWebServicesWithJSONExample/products","tls":"","x":368,"y":322,"wires":[["aa438c3.8f1337"]]},{"id":"5ae2338.05cfacc","type":"inject","z":"bba44ee5.5aa2f","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":259,"wires":[["a321bcee.492af"]]},{"id":"aa438c3.8f1337","type":"function","z":"bba44ee5.5aa2f","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":625.5,"y":348,"wires":[[]]},{"id":"8034a5bc.c7e348","type":"mqtt out","z":"96eb94d7.3cfb18","name":"temperature","topic":"temp","qos":"0","retain":"","broker":"271cdd16.932ad2","x":717,"y":197,"wires":[]},{"id":"638130e9.fc95e","type":"inject","z":"96eb94d7.3cfb18","name":"","topic":"info","payload":"25.5","payloadType":"num","repeat":"","crontab":"","once":false,"x":328,"y":197,"wires":[["c77c4d15.98114"]]},{"id":"34649961.6ecda6","type":"inject","z":"96eb94d7.3cfb18","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":290,"y":273,"wires":[["75aff7c5.b79e38"]]},{"id":"75aff7c5.b79e38","type":"mqtt out","z":"96eb94d7.3cfb18","name":"saleaaa","topic":"salesaaa","qos":"0","retain":"","broker":"271cdd16.932ad2","x":696,"y":270,"wires":[]},{"id":"de8d86bd.3eeb68","type":"mqtt out","z":"e0dbf9ed.167788","name":"temperature_alert","topic":"temp","qos":"","retain":"","broker":"271cdd16.932ad2","x":844,"y":336,"wires":[]},{"id":"658f4d68.0ed934","type":"function","z":"e0dbf9ed.167788","name":"add_machine_id","func":"msg.payload = {\n    \"machine_id\":1, \n    \"payload\":msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":336,"wires":[["de8d86bd.3eeb68"]]},{"id":"47d51e74.3d2bc","type":"mqtt out","z":"a4a6fbdc.cedb38","name":"sale1","topic":"sale","qos":"0","retain":"","broker":"271cdd16.932ad2","x":1139,"y":221,"wires":[]},{"id":"238899a9.f76e46","type":"mqtt out","z":"a4a6fbdc.cedb38","name":"sale2","topic":"sale","qos":"0","retain":"","broker":"271cdd16.932ad2","x":1140,"y":445,"wires":[]},{"id":"a6b71391.06e0a","type":"function","z":"a4a6fbdc.cedb38","name":"add id","func":"if (msg.payload == 1){\n    msg.payload = 2\n    return msg;\n}\nelse\n    return null","outputs":1,"noerr":0,"x":902,"y":445,"wires":[["238899a9.f76e46","11242ad2.246e45"]]},{"id":"c77c4d15.98114","type":"function","z":"96eb94d7.3cfb18","name":"a","func":"msg.payload = {\"id\":234, \"load\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":63,"wires":[["8034a5bc.c7e348"]]},{"id":"1438be88.607511","type":"function","z":"a4a6fbdc.cedb38","name":"add id","func":"if (msg.payload == 1){\n    return msg;\n}\nelse\n    return null","outputs":1,"noerr":0,"x":905,"y":221,"wires":[["47d51e74.3d2bc","11242ad2.246e45"]]},{"id":"6ba2e242.42d5ac","type":"debug","z":"96eb94d7.3cfb18","name":"","active":true,"console":"false","complete":"payload","x":657,"y":564,"wires":[]},{"id":"4ec49013.50809","type":"mqtt in","z":"96eb94d7.3cfb18","name":"sale","topic":"sale","qos":"2","broker":"271cdd16.932ad2","x":253,"y":503,"wires":[["6ba2e242.42d5ac"]]},{"id":"1f373688.9b2b39","type":"mqtt in","z":"96eb94d7.3cfb18","name":"temp","topic":"temp","qos":"2","broker":"271cdd16.932ad2","x":252,"y":614,"wires":[["6ba2e242.42d5ac"]]},{"id":"c48b60e5.84c9d","type":"mqtt in","z":"a4a6fbdc.cedb38","name":"Subscriber for online sales","topic":"onlineSale","qos":"2","broker":"271cdd16.932ad2","x":366.5,"y":634,"wires":[["11242ad2.246e45","604d9fba.67ba9"]]},{"id":"a38fb928.cc38a8","type":"trigger","z":"a4a6fbdc.cedb38","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","name":"","x":778.5,"y":706,"wires":[["75250e4e.d19d3"]]},{"id":"604d9fba.67ba9","type":"switch","z":"a4a6fbdc.cedb38","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"2","vt":"num"},{"t":"gt","v":"2","vt":"num"}],"checkall":"true","outputs":2,"x":578,"y":705,"wires":[["a38fb928.cc38a8"],["481825b1.8cadfc"]]},{"id":"481825b1.8cadfc","type":"mqtt out","z":"a4a6fbdc.cedb38","name":"notify slave machine","topic":"slave_sale","qos":"0","retain":"","broker":"271cdd16.932ad2","x":769,"y":825,"wires":[]}]